<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>About</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="About BRAILLE-IANT" />
	<meta name="keywords" content="cool, hackathon, project, bro" />
	<meta name="author" content="BRAILLE-IANT Team" />

	{% include 'headerLinks.html' %}
	{% set active_page = "about" %}
	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	{% include 'navigation.html' %}
	<div class="container-wrap">
		<aside id="fh5co-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{ url_for('static', filename='images/img_bg_3.jpg') }});">
			   		<div class="overlay-gradient"></div>
			   		<div class="container-fluids">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 slider-text slider-text-bg">
				   				<div class="slider-text-inner text-center">
				   					<h1 style="color: white">About Us</h1>
										<h2 style="color: white">Learn more about the Braille-iant team!</h2>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>		   	
			  	</ul>
		  	</div>
		</aside>		
		<div id="fh5co-about">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center heading-section">
					<h3>Our Inspiration</h3>
					<p>Receiving meaningful notes from your loved ones is one of the most heart-warming feelings in this world. With the recency of Valentines, we were even more appreciative of the letters written to us by someone special to us. However, we felt like there was no easy way for those with seeing disabilities to receive the same experience.
						This is why we came up with Braille-iant - an easy to use, one of a kind, braille printer that allows for card customization. With computer vision, and a heck of a lot of hardware, we are providing new ways for loved ones to show their true feelings for one another. Together, we can do something Braille-iant.
					</p>
				</div>
			</div>

			<!-- <div class="row">
				<div class="col-md-8 col-md-offset-2 text-center animate-box">
					<div class="about-desc">
						<h3>Hi! I'm Kathy</h3>
						<p>I am a French Designer. Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet. Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
					</div>
				</div>
			</div> -->
		</div>
	</div><!-- END container-wrap -->

	{% include 'footerLinks.html' %}

	</body>
</html>

