<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Confirmation</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Confirm your letter!" />
	<meta name="keywords" content="confirm, letter, yay" />
	<meta name="author" content="BRAILLE-IANT Team" />

    {% include 'headerLinks.html' %}
    {% set active_page = "extra" %}
    
	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	{% include 'navigation.html' %}
	<div class="container-wrap">
		<aside id="fh5co-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{ url_for('static', filename='images/check.jpg') }});">
			   		<div class="overlay-gradient"></div>
		   			<div class="row">
			   			<div class="col-md-6 col-md-offset-3 slider-text slider-text-bg">
			   				<div class="slider-text-inner text-center">
			   					<h1 style="color: white"><strong>Confirmation</strong></h1>
									<h2 style="color: white">Check that this is the correct message.</h2>
			   				</div>
			   			</div>
			   		</div>
			   	</li>		   	
			  	</ul>
		  	</div>
		</aside>		
		<div id="fh5co-work">
			<form action="{{ url_for('thankyou') }}" method=post>
			<div class="row">
				{% for post in posts %}
				<input type="hidden" id="val" name="val" value="{{post.hiddenID}}">
				<div class="col-md-4">
						<img src="{{post.image_url}}" alt="Given Image" class="img-responsive">
				</div>
				<div class="col-md-8 fh5co-project-detail">
					<br>
					<h2 class="fh5co-project-title">{{post.recipientName}}</h2>
					<p>{{post.cardDesc}}<br>
					{{post.message}}<br>
					{{post.sender}}</p>
				{% endfor %}
				<input type="button" value="Back" onclick="history.back(-1)" class="btn btn-primary btn-modify">
				<input type="submit" value="Print Message" class="btn btn-primary btn-modify">
				</div>
			</form>

	</div><!-- END container-wrap -->
	</div>
</div>

    {% include 'footerLinks.html' %}

	</body>
</html>

