<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Confirmation</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Confirm your letter!" />
	<meta name="keywords" content="confirm, letter, yay" />
	<meta name="author" content="BRAILLE-IANT Team" />

    {% include 'headerLinks.html' %}
    {% set active_page = "extra" %}
    
	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	{% include 'navigation.html' %}
	<div class="container-wrap">
		<aside id="fh5co-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url(images/img_bg_3.jpg);">
			   		<div class="overlay-gradient"></div>
		   			<div class="row">
			   			<div class="col-md-6 col-md-offset-3 slider-text slider-text-bg">
			   				<div class="slider-text-inner text-center">
			   					<h1>Work</h1>
									<h2>Free html5 templates Made by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>
			   				</div>
			   			</div>
			   		</div>
			   	</li>		   	
			  	</ul>
		  	</div>
		</aside>		
		<div id="fh5co-work">
			<div class="row">
				<div class="col-md-4">
					<a href="{{ url_for('static', filename='images/funny.jpg') }}" class="image-popup img-portfolio-detail">
						<img src="{{ url_for('static', filename='images/funny.jpg') }}" alt="Free HTML5 Template by FreeHTML5.co" class="img-responsive">
					</a>
					<a href="{{ url_for('static', filename='images/funny.jpg') }}" class="image-popup img-portfolio-detail">
						<img src="{{ url_for('static', filename='images/funny.jpg') }}" alt="Free HTML5 Template by FreeHTML5.co" class="img-responsive">
					</a>
					<a href="{{ url_for('static', filename='images/funny.jpg') }}" class="image-popup img-portfolio-detail">
						<img src="{{ url_for('static', filename='images/funny.jpg') }}" alt="Free HTML5 Template by FreeHTML5.co" class="img-responsive">
					</a>
				</div>
				<div class="col-md-8 fh5co-project-detail">
					<h2 class="fh5co-project-title">Project Title</h2>
					<span class="fh5co-project-sub">Package of the year</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ullam ab perferendis aut repellat maxime reiciendis doloremque atque ipsa nostrum et at nihil quae placeat eum corporis laboriosam culpa, consequuntur aperiam praesentium rem totam fuga deleniti laborum! Possimus, hic, itaque?</p>

					<div class="fh5co-project-service">
						<h3>Services</h3>
						<ul>
							<li>Package Design</li>
							<li>Printing</li>
							<li>Branding</li>
						</ul>
					</div>
				</div>

	</div><!-- END container-wrap -->

    {% include 'footerLinks.html' %}

	</body>
</html>

