<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Create</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Create a Braille-iant Card" />
	<meta name="keywords" content="create, braille, cool, hackathon" />
	<meta name="author" content="BRAILLE-IANT Team" />

	{% include 'headerLinks.html' %}
	{% set active_page = "create" %}

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	{% include 'navigation.html' %}
	<div class="container-wrap">
		<aside id="fh5co-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{ url_for('static', filename='images/writing.png') }});">
			   		<div class="overlay-gradient"></div>
		   			<div class="row">
			   			<div class="col-md-6 col-md-offset-3 slider-text slider-text-bg">
			   				<div class="slider-text-inner text-center">
			   					<h1 style="color: white"><strong>Create a Braille-iant Card</strong></h1>
									<h2 style="color: white">Design, customize, make, and send a heartfelt message to your loved ones!</h2>
			   				</div>
			   			</div>
			   		</div>
			   	</li>		   	
			  	</ul>
		  	</div>
		</aside>		
		<div id="fh5co-work">
			<div class="row">
				<div class="col-md-4 text-center animate-box">
					<a href="message-original" class="work" style="background-image: url({{ url_for('static', filename='images/original.jpg') }});">
						<div class="desc">
							<h3>Original Card</h3>
							<span>Attach an original image!</span>
						</div>
					</a>
				</div>
				<div class="col-md-4 text-center animate-box">
					<a href="message-love" class="work" style="background-image: url({{ url_for('static', filename='images/love.jpg') }});">
						<div class="desc">
							<h3>Love Cards</h3>
							<span>Express your love!</span>
						</div>
					</a>
				</div>
				<div class="col-md-4 text-center animate-box">
					<a href="message-thankyou" class="work" style="background-image: url({{ url_for('static', filename='images/thankyou.jpg') }});">
						<div class="desc">
							<h3>Thank You Cards</h3>
							<span>Show your appreciation!</span>
						</div>
					</a>
				</div>
				<div class="col-md-4 text-center animate-box">
					<a href="message-holiday" class="work" style="background-image: url({{ url_for('static', filename='images/holiday.jpg') }});">
						<div class="desc">
							<h3>Holiday Cards</h3>
							<span>Send best wishes for the holiday!</span>
						</div>
					</a>
				</div>
				<div class="col-md-4 text-center animate-box">
					<a href="message-happybirthday" class="work" style="background-image: url({{ url_for('static', filename='images/happybirthday.jpg') }});">
						<div class="desc">
							<h3>Birthday Cards</h3>
							<span>Wish them a happy birthday!</span>
						</div>
					</a>
				</div>
				<div class="col-md-4 text-center animate-box">
					<a href="message-comedic" class="work" style="background-image: url({{ url_for('static', filename='images/funny.jpg') }});">
						<div class="desc">
							<h3>Comedic Cards</h3>
							<span>Help make them laugh!</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div><!-- END container-wrap -->
	
	{% include 'footerLinks.html' %}

	</body>
</html>

