	<!-- jQuery -->
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<!-- jQuery Easing -->
	<script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
	<!-- Bootstrap -->
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<!-- Waypoints -->
	<script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
	<!-- Flexslider -->
	<script src="{{ url_for('static', filename='js/jquery.flexslider-min.js') }}"></script>
	<!-- Magnific Popup -->
	<script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/magnific-popup-options.js') }}"></script>
	<!-- Counters -->
	<script src="{{ url_for('static', filename='js/jquery.countTo.js') }}"></script>
	<!-- Main -->
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>