<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Braille-iant</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Braille-iant, an online front-end to print out cards for the blind." />
	<meta name="keywords" content="Lots of fun cool stuff!" />
	<meta name="author" content="BRAILLE-IANT Team" />

	{% include 'headerLinks.html' %}
	{% set active_page = "index" %}
	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	{% include 'navigation.html' %}
	<div class="container-wrap">
		<aside id="fh5co-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{ url_for('static', filename='images/img_bg_1.jpg') }});">
			   		<div class="overlay-gradient"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 col-md-pull-3 slider-text">
				   				<div class="slider-text-inner">
				   					<h1 style="color: white"><strong>Braille-iant</strong></h1>
										<h2 style="color: white">Let's do something braille-iant together.</h2>
										<p><a class="btn btn-primary btn-demo" href="create"></i> Create Now</a> <a class="btn btn-primary btn-learn" href="about">Learn More</a></p>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{ url_for('static', filename='images/img_bg_2.jpg') }});">
			   		<div class="overlay-gradient"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 col-md-push-3 slider-text">
				   				<div class="slider-text-inner">
				   					<h1 style="color: white"><strong>Love is feeling, feeling love</strong></h1>
										<h2 style="color: white">Love is wanting to be loved - John Lennon</a></h2>
										<p><a class="btn btn-primary btn-demo" href="#"></i> Create Now</a> <a class="btn btn-primary btn-learn" href="about">Learn More</a></p>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{ url_for('static', filename='images/img_bg_3.jpg') }});">
			   		<div class="overlay-gradient"></div>
			   		<div class="container-fluids">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 slider-text">
				   				<div class="slider-text-inner text-center">
				   					<h1 style="color: white"><strong>Everyone Deserves Love</strong></h1>
										<h2 style="color: white">Make a Braille-iant card today.</h2>
										<p><a class="btn btn-primary btn-demo" href="#"></i> Create Now</a> <a class="btn btn-primary btn-learn" href="about">Learn More</a></p>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li> 	
			  	</ul>
		  	</div>
		</aside>
		<div id="fh5co-services">
			<div class="row">
				<div class="col-md-4 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-pencil"></i>
						</span>
						<div class="desc">
							<h3>Write</h3>
							<p>Compose a heartfelt messaged for your loved ones.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-envelope"></i>
						</span>
						<div class="desc">
							<h3>Send</h3>
							<p>Give and gift carefully designed letters in braille.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-heart"></i>
						</span>
						<div class="desc">
							<h3>Love</h3>
							<p>Share lasting words and moments.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-work" class="fh5co-light-grey">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h1>Create</h1>
					<p>Make your perfect, braille letters today! Click any of the three templates below to learn more.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 text-center animate-box">
					<a href="create" class="work"  style="background-image: url({{ url_for('static', filename='images/love.jpg') }});">
						<div class="desc">
							<h3>Love Cards</h3>
							<span>Express your love!</span>
						</div>
					</a>
				</div>
				<div class="col-md-4 text-center animate-box">
					<a href="create" class="work" style="background-image: url({{ url_for('static', filename='images/holiday.jpg') }});">
						<div class="desc">
							<h3>Holiday Cards</h3>
							<span>Send best wishes for the holiday!</span>
						</div>
					</a>
				</div>
				<div class="col-md-4 text-center animate-box">
					<a href="create" class="work" style="background-image: url({{ url_for('static', filename='images/happybirthday.jpg') }});">
						<div class="desc">
							<h3>Birthday Cards</h3>
							<span>Wish them a happy birthday!</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div><!-- END container-wrap -->
	
	{% include 'footerLinks.html' %}

	</body>
</html>

