<nav class="fh5co-nav" role="navigation">
    <div class="container-wrap">
        <div class="top-menu">
            <div class="row">
                <div class="col-xs-3">
                    <div id="fh5co-logo"><a href="/">Braille-iant</a></div>
                </div>
                <div class="col-xs-9 text-right menu-1">
                    <ul>
                        <li class="{{ 'active' if active_page == 'index' else '' }}"><a href="/">Home</a></li>
                        <li class="{{ 'active' if active_page == 'create' else '' }}"><a href="create">Create</a></li>
                        <li class="{{ 'active' if active_page == 'about' else '' }}"><a href="about">About</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</nav>